* {
    transition: 0.05s;
    user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#grid {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell {
    background-color: white;
    outline: 1px solid black;
    position: absolute;
    z-index: 0;
    background-size: contain;
}

.cell:hover {
    transform: scale(1.2);
    z-index: 1;
    box-shadow: 0px 2px 5px black;
}

.cell:active {
    transform: scale(1.0);
}

#brushes {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#brushes li {
    background-color: white;
    outline: 1px solid black;
    padding: 15px;
    margin: 1px 0;
    width: 50px;
    height: 50px;
    color: transparent;
    font-size: 0;
    background-size: contain;
    background-image: url("../img/tiles/tile_full_stone.png");
}

#brushes li:hover {
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 0px 2px 5px black;
}

#brushes li:active {
    transform: scale(0.9);
}

#brushes li.selected {
    z-index: 1;
    transform: scale(1.4);
}

input,
button {
    display: block;
    clear: both;
    margin: 10px;
}

.door {
    /* background-image: url("../img/doors/None.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
}

#tutorial {
    position: absolute;
    top: 0;
    left: 0;
    transition: none;
}

#tutorial div {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: white;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 200px;
    text-shadow: 0px 2px 2px black;
}

#tutorial span {
    font-size: 400%;
    float: left;
    margin-right: 20px;
    font-weight: bold;
}

#tutorial p {
    /* display: inline-block; */
    line-height: 1.4em;
}

div#screen1 {
    top: 50vh;
    left: 170px;
    transform: translate(0, -50%);
}

div#screen2 {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

div#screen3 {
    top: 35vh;
    left: calc(100vw - 20px);
    transform: translate(-100%, -50%);
}

div#screen4 {
    top: 20px;
    left: 300px;
}